<section class="container pb-4 pt-4">
  <div class="col row-col-sm-8 row-col-md-8 row-col-lg-8 d-flex justify-content-center">
    <form action="/search" method="get">
      <div class="form-group">
        <label for="fname">Search</label>
        <input  type="text" id="fname" name="search">
        <input type="submit" value="Search">
        <div class="form-check">
          <input type="radio" id="css" name="css" value="title" checked>
          <label for="css">Name</label>
          <input type="radio" id="css" name="css" value="tag_list">
          <label for="css">Tag</label>
        </div>
      </div>
    </form>
  </div>
</section>