<section class="container">
  <h1 class="hero-title text-center"><%=@listing.title%></h1>
  <div class = "col row-col-sm-8 row-col-md-8 row-col-lg-8">
    <p><%=@listing.description%></p>
    <p>By: <%=@listing.username%></p>
    <p><small>Tag: <%@listing.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag) %>
    <%end%></small></p>
  </div>
</section>