<div class = 'col-md-8 offset-2'>
  <h1><%=@listing.title%></h1>
  <p><%=@listing.content%></p>
  <p><small>Tags: <%= raw @listing.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
</div>